@{
    ViewBag.Title = "工程项目登录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .tr {
        height: 25px;
    }
</style>
<table style="width: 98%" cellspacing="1" cellpadding="3" border="0">
    <tr>
        <th colspan="2" style="height: 25px;  text-align:center;">工程项目登陆</th>
    </tr>
    <tr>
        <td style="width: 15%; text-align: right;">*工程名称：
        </td>
        <td style="width: 80%;">
            <input id="proname" class="easyui-textbox" style="width: 400px;" />
        </td>
    </tr>
    <tr>
        <td style="width: 15%; text-align: right;">*项目用途：</td>
        <td style="width: 80%;">
            <select id="protype">
                <option value="0">项目用途选择</option>
                <option value="49">办公楼</option>
                <option value="50">酒店</option>
                <option value="51">商场</option>
                <option value="52">餐厅</option>
                <option value="53">医院</option>
                <option value="54">综合楼</option>
                <option value="55">住宅</option>
                <option value="56">厂房</option>
                <option value="57">其它</option>
            </select>
        </td>
    </tr>
    <tr>
        <td style="width: 15%; text-align: right;" rowspan="3">*项目地址：
        </td>
        <td style="width: 80%;">
            <select name="area" onchange="javascript:setTimeout('__doPostBack(\'drpArea\',\'\')', 0)" language="javascript" id="drpArea">
                <option selected="selected" value="8">舟山</option>
            </select>市
                    <select name="area2" id="drpArea2">
                        <option value="0">乡镇选择</option>
                        <option value="69">定海城区</option>
                        <option value="102">定海临城</option>
                        <option value="70">定海盐仓</option>
                        <option value="71">定海金塘</option>
                        <option value="72">定海小沙</option>
                        <option value="73">定海白泉</option>
                        <option value="74">定海干览</option>
                        <option value="75">定海岑港</option>
                        <option value="76">定海马岙</option>
                        <option value="77">定海双桥</option>
                        <option value="78">定海北蝉</option>
                        <option value="79">定海长白乡</option>
                        <option value="80">定海册子乡</option>
                        <option value="81">普陀城区</option>
                        <option value="82">普陀勾山</option>
                        <option value="83">普陀朱家尖</option>
                        <option value="84">普陀展茅</option>
                        <option value="85">普陀六横</option>
                        <option value="86">普陀桃花</option>
                        <option value="87">普陀虾峙</option>
                        <option value="88">普陀东极</option>
                        <option value="89">普陀登步</option>
                        <option value="90">普陀蚂蚁岛</option>
                        <option value="91">普陀白沙</option>
                        <option value="105">普陀普陀山</option>
                        <option value="92">岱山高亭</option>
                        <option value="93">岱山东沙</option>
                        <option value="94">岱山岱东</option>
                        <option value="95">岱山岱西</option>
                        <option value="96">岱山衢山</option>
                        <option value="97">岱山长涂</option>
                        <option value="98">岱山秀山</option>
                        <option value="99">嵊泗菜园</option>
                        <option value="100">嵊泗嵊山</option>
                        <option value="101">嵊泗洋山</option>
                    </select>(乡、镇、街道)
                <input id="area3" class="easyui-textbox" style="width: 80px;" />(路、街)
                <input id="area4" class="easyui-textbox" style="width: 60px;" />(号、大厦)
                <input id="area5" class="easyui-textbox" style="width: 60px;" />楼
                <input id="area6" class="easyui-textbox" style="width: 200px;" />
        </td>
    </tr>
    <tr style="color: red; font-weight: bold;">
        <td style="width: 80%;">经销商填写项目地址标准（凡标注<span style="text-decoration: underline">&nbsp;&nbsp;&nbsp;</span>都要填写）：<span
            style="text-decoration: underline">****路</span><span style="color: black; font-weight: normal;">（路、街）</span><span
                style="text-decoration: underline">****号</span><span style="color: black; font-weight: normal;">（号、大厦）</span><span
                    style="text-decoration: underline">****</span><span style="color: black; font-weight: normal;">楼</span>
        </td>
    </tr>
    <tr>
        <td>请各位按标准填写，尽量避免因填写不规范或不完整而引起项目的误判断。
        </td>
    </tr>
    <tr>
        <td style="width: 15%; text-align: right;">*客户姓名：
        </td>
        <td style="width: 80%;">
            <input id="name" class="easyui-textbox"  style="width: 200px;" />
        </td>
    </tr>
    <tr>
        <td style="width: 15%; text-align: right;">*联系电话：
        </td>
        <td style="width: 80%;">
            <input id="tel" class="easyui-textbox"  style="width: 200px;" />
        </td>
    </tr>
    <tr>
        <td style="width: 15%; text-align: right;">*项目初报价金额：
        </td>
        <td style="width:80%">
            <input id="price" class="easyui-textbox" style="width: 200px;" />
        </td>
    </tr>
    <tr>
        <td style="width: 15%; text-align: right;">&nbsp;
        </td>
        <td style="width: 80%;">
                <a href="#" onclick="" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">登录</a>
                <a href="#" onclick="" class="easyui-linkbutton" data-options="iconCls:'icon-reset'">重置</a>
        </td>
    </tr>
</table>

@*<table id="tt" class="easyui-datagrid" title="工程项目登录"
    data-options="iconCls: 'icon-sign-in',showHeader:false,singleSelect:true,onLoadSuccess: onLoadSuccess"
    style="width: 900px; height: auto;">
    <thead>
        <tr>
            <th field="name1" width="100px"></th>
            <th field="name2" width="800px"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div style="text-align: right">*工程名称:</div>
            </td>
            <td style="width: 100%">
                <input class="easyui-textbox" />
            </td>
        </tr>
        <tr>
            <td>
                <div style="text-align: right">*项目用途:</div>
            </td>
            <td style="width: 100%">
                <select name="protype">
                    <option value="0">项目用途选择</option>
                    <option value="49">办公楼</option>
                    <option value="50">酒店</option>
                    <option value="51">商场</option>
                    <option value="52">餐厅</option>
                    <option value="53">医院</option>
                    <option value="54">综合楼</option>
                    <option value="55">住宅</option>
                    <option value="56">厂房</option>
                    <option value="57">其它</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td style="width: 100%">
                <select name="drpArea" onchange="javascript:setTimeout('__doPostBack(\'drpArea\',\'\')', 0)" language="javascript" id="drpArea">
                    <option selected="selected" value="8">舟山</option>
                </select>市
                    <select name="drpArea2" id="drpArea2">
                        <option value="0">乡镇选择</option>
                        <option value="69">定海城区</option>
                        <option value="102">定海临城</option>
                        <option value="70">定海盐仓</option>
                        <option value="71">定海金塘</option>
                        <option value="72">定海小沙</option>
                        <option value="73">定海白泉</option>
                        <option value="74">定海干览</option>
                        <option value="75">定海岑港</option>
                        <option value="76">定海马岙</option>
                        <option value="77">定海双桥</option>
                        <option value="78">定海北蝉</option>
                        <option value="79">定海长白乡</option>
                        <option value="80">定海册子乡</option>
                        <option value="81">普陀城区</option>
                        <option value="82">普陀勾山</option>
                        <option value="83">普陀朱家尖</option>
                        <option value="84">普陀展茅</option>
                        <option value="85">普陀六横</option>
                        <option value="86">普陀桃花</option>
                        <option value="87">普陀虾峙</option>
                        <option value="88">普陀东极</option>
                        <option value="89">普陀登步</option>
                        <option value="90">普陀蚂蚁岛</option>
                        <option value="91">普陀白沙</option>
                        <option value="105">普陀普陀山</option>
                        <option value="92">岱山高亭</option>
                        <option value="93">岱山东沙</option>
                        <option value="94">岱山岱东</option>
                        <option value="95">岱山岱西</option>
                        <option value="96">岱山衢山</option>
                        <option value="97">岱山长涂</option>
                        <option value="98">岱山秀山</option>
                        <option value="99">嵊泗菜园</option>
                        <option value="100">嵊泗嵊山</option>
                        <option value="101">嵊泗洋山</option>
                    </select>(乡、镇、街道)
                <input class="easyui-textbox" style="width: 80px;" />(路、街)
                <input class="easyui-textbox" style="width: 60px;" />(号、大厦)
                <input class="easyui-textbox" style="width: 60px;" />楼
                <input class="easyui-textbox" style="width: 100px;" />
            </td>
        </tr>
        <tr>
            <td>
                <div style="text-align: right">*项目地址:</div>
            </td>
            <td style="width: 100%;"><span style="color: red; font-weight: bold;">经销商填写项目地址标准（凡标注</span><span style="text-decoration: underline; color: red;">&nbsp;</span><span style="color: red; font-weight: bold;">都要填写）：</span>
                <span style="color: red; font-weight: bold; text-decoration: underline">****路</span><span style="color: black; font-weight: normal;">（路、街）</span><span
                    style="color: red; font-weight: bold; text-decoration: underline">****号</span><span style="color: black; font-weight: normal;">（号、大厦）</span><span
                        style="color: red; font-weight: bold; text-decoration: underline">****</span><span style="color: black; font-weight: normal;">楼</span>
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td>请各位按标准填写，尽量避免因填写不规范或不完整而引起项目的误判断。</td>
        </tr>
        <tr>
            <td>
                <div style="text-align: right">*客户姓名:</div>
            </td>
            <td style="width: 100%">
                <input class="easyui-textbox" />
            </td>
        </tr>
        <tr>
            <td>
                <div style="text-align: right">*联系电话:</div>
            </td>
            <td style="width: 100%">
                <input class="easyui-textbox" />
            </td>
        </tr>
        <tr>
            <td>
                <div style="text-align: right">*项目初报价金额:</div>
            </td>
            <td style="width: 100%">
                <input class="easyui-textbox" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="javascript:void(0)" onclick="changepassword()" class="easyui-linkbutton"
                    data-options="iconCls:'icon-ok',plain:true">登录</a>
                <a href="javascript:void(0)" onclick="changepassword()" class="easyui-linkbutton"
                    data-options="iconCls:'icon-reset',plain:true">重置</a>
            </td>
        </tr>
    </tbody>
</table>
<script type="text/javascript">
    function onLoadSuccess(data) {
        $("#tt").datagrid('mergeCells', {
            index: 2,
            rowspan: 3
        });
    }
</script>*@
