@{
    ViewBag.Title = "登录项目查询";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .tr {
        height: 25px;
    }
</style>
<script type="text/ecmascript">
    $(function () {
        getyearoption();
    });
</script>

<table style="width: 98%;" cellspacing="1" cellpadding="3" border="0">
    <tr>
        <th colspan="2" style="text-align: center;">登陆项目查询
        </th>
    </tr>
    <tr>
        <td style="width: 12%; text-align: right">项目状态：
        </td>
        <td style="width: 88%;">
            <div style="display: inline;">
                <input id="drpState_0" type="checkbox" name="drpState:0" /><label for="drpState_0">登陆成功</label>

                <input id="drpState_1" type="checkbox" name="drpState:1" /><label for="drpState_1">项目失败</label>

                <input id="drpState_2" type="checkbox" name="drpState:2" /><label for="drpState_2">待审核</label>

                <input id="drpState_3" type="checkbox" name="drpState:3" /><label for="drpState_3">签单成功</label>

                <input id="drpState_4" type="checkbox" name="drpState:4" /><label for="drpState_4">预订单提交</label>

                <input id="drpState_5" type="checkbox" name="drpState:5" /><label for="drpState_5">正式订单提交</label>

                <input id="drpState_6" type="checkbox" name="drpState:6" /><label for="drpState_6">订单确认</label>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width: 12%; text-align: right">
        客户名称：
                    <td style="width: 88%;">
                        <input class="easyui-textbox" id="name" style="height: 23px; width: 100px;" />
                        客户电话：
                        <input class="easyui-textbox" id="tel" style="height: 23px; width: 100px;" />
                        项目地址：
                        <input class="easyui-textbox" id="addr" style="height: 23px; width: 200px;" />
                    </td>
    </tr>
    <tr>
        <td style="width: 12%; text-align: right">项目性质：
        </td>
        <td style="width: 88%;">
            <span>
                <input id="drptype_0" type="radio" name="drptype" value="46" /><label for="drptype_0">工程</label>
                <input id="drptype_1" type="radio" name="drptype" value="47" /><label for="drptype_1">家装</label>
            </span>
            &nbsp;&nbsp;&nbsp;机型方案：<span>
                <input id="drpmachinetype_0" type="radio" name="drpmachinetype" value="131" /><label for="drpmachinetype_0">多联机</label>
                <input id="drpmachinetype_1" type="radio" name="drpmachinetype" value="132" /><label for="drpmachinetype_1">非多联机</label>
            </span>
        </td>
    </tr>
    <tr>
        <td style="width: 12%; text-align: right">时间选择：
        </td>
        <td style="width: 88%;">
            <select id="year" onchange="yearchanged()">
                <option value="0">选择年份</option>
            </select>
            <select id="month" onchange="monthchanged()">
                <option value="0">选择月份</option>
                <option value="01">1月</option>
                <option value="02">2月</option>
                <option value="03">3月</option>
                <option value="04">4月</option>
                <option value="05">5月</option>
                <option value="06">6月</option>
                <option value="07">7月</option>
                <option value="08">8月</option>
                <option value="09">9月</option>
                <option value="10">10月</option>
                <option value="11">11月</option>
                <option value="12">12月</option>
            </select>
            <input class="easyui-datebox" id="startdate" style="height: 20px; width: 100px;">
            -
            <input class="easyui-datebox" id="enddate" style="height: 20px; width: 100px;">
        </td>
    </tr>
    <tr>
        <td></td>
        <td style="width: 88%;">
            <a href="#" onclick="" class="easyui-linkbutton" data-options="iconCls:'icon-query'">查询</a>
            【快捷查询】<a href='?t1=2015-11-06&t2=2015-11-13'>7天内</a> <a href='?t1=2015-10-14&t2=2015-11-13'>30天内</a> <a href='?t1=2015-08-15&t2=2015-11-13'>90天内</a> <a href='?t1=2014-11-13&t2=2015-11-13'>一年内</a>
        </td>
    </tr>
</table>

@*<table id="tb" class="easyui-datagrid" title="登录项目查询"
    data-options="iconCls: 'icon-query',showHeader:false,singleSelect:true"
    style="width: 900px; height: auto;">
    <thead>
        <tr>
            <th field="name1" width="100px"></th>
            <th field="name2" width="800px"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div style="text-align: right">项目状态:</div>
            </td>
            <td style="width: 100%">
                <input id="drpState_0" type="checkbox" name="drpState:0" /><label for="drpState_0">登陆成功</label>
                <input id="drpState_1" type="checkbox" name="drpState:1" /><label for="drpState_1">项目失败</label>
                <input id="drpState_2" type="checkbox" name="drpState:2" /><label for="drpState_2">待审核</label>
                <input id="drpState_3" type="checkbox" name="drpState:3" /><label for="drpState_3">签单成功</label>
                <input id="drpState_4" type="checkbox" name="drpState:4" /><label for="drpState_4">预订单提交</label>
                <input id="drpState_5" type="checkbox" name="drpState:5" /><label for="drpState_5">正式订单提交</label>
                <input id="drpState_6" type="checkbox" name="drpState:6" /><label for="drpState_6">订单确认</label>
            </td>
        </tr>
        <tr>
            <td>
                <div style="text-align: right">客户名称:</div>
            </td>
            <td style="width: 100%">
                <input class="easyui-textbox" style="height: 23px; width: 100px;" />
                客户电话：
                        <input class="easyui-textbox" style="height: 23px; width: 100px;" />
                项目地址：
                        <input class="easyui-textbox" style="height: 23px; width: 100px;" />
            </td>
        </tr>
        <tr>
            <td>
                <div style="text-align: right">项目性质:</div>
            </td>
            <td style="width: 100%">
                <span id="drpType">
                    <input id="drpType_0" type="radio" name="drpType" value="46" /><label for="drpType_0">工程</label><input id="drpType_1" type="radio" name="drpType" value="47" /><label for="drpType_1">家装</label><input id="drpType_2" type="radio" name="drpType" value="136" /><label for="drpType_2">备货</label></span>
                机型方案：<span id="drpProductType"><input id="drpProductType_0" type="radio" name="drpProductType" value="131" /><label for="drpProductType_0">多联机</label><input id="drpProductType_1" type="radio" name="drpProductType" value="132" /><label for="drpProductType_1">非多联机</label></span>            </td>
        </tr>
        <tr>
            <td>
                <div style="text-align: right">时间选择:</div>
            </td>
            <td style="width: 100%">
                <select name="drpYear" id="drpYear">
                    <option value="0">选择年份</option>
                    <option value="2015">2015年</option>
                    <option value="2014">2014年</option>
                    <option value="2013">2013年</option>
                    <option value="2012">2012年</option>
                    <option value="2011">2011年</option>

                </select>
                <select name="drpMonth" id="drpMonth">
                    <option value="0">选择月份</option>
                    <option value="01">1月</option>
                    <option value="02">2月</option>
                    <option value="03">3月</option>
                    <option value="04">4月</option>
                    <option value="05">5月</option>
                    <option value="06">6月</option>
                    <option value="07">7月</option>
                    <option value="08">8月</option>
                    <option value="09">9月</option>
                    <option value="10">10月</option>
                    <option value="11">11月</option>
                    <option value="12">12月</option>

                </select>
                <input name="txtTime1" type="text" id="txtTime1" onclick="getDateString(this, oCalendarChs)" style="height: 16px; width: 100px;" />
                -
                        <input name="txtTime2" type="text" id="txtTime2" onclick="getDateString(this, oCalendarChs)" style="height: 16px; width: 100px;" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td style="width: 100%">
                <input type="submit" name="btnSearch" value="查询" id="btnSearch" class="pbtn2" onmouseover="this.style.borderColor='#75cd02'" onmouseout="this.style.borderColor='#9ec1f9'" />
                【快捷查询】<a href='?t1=2015-11-05&t2=2015-11-12'>7天内</a> <a href='?t1=2015-10-13&t2=2015-11-12'>30天内</a> <a href='?t1=2015-08-14&t2=2015-11-12'>90天内</a> <a href='?t1=2014-11-12&t2=2015-11-12'>一年内</a>            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="javascript:void(0)" onclick="changepassword()" class="easyui-linkbutton"
                    data-options="iconCls:'icon-ok',plain:true">登录</a>
                <a href="javascript:void(0)" onclick="changepassword()" class="easyui-linkbutton"
                    data-options="iconCls:'icon-reset',plain:true">重置</a>
            </td>
        </tr>
    </tbody>
</table>*@
<div style="text-align: center; width: 100%; height: 35px; line-height: 35px; font-size: 16px; color: red; font-weight: bold;">
    特别提醒：因经销商项目地址填写不规范而造成项目的误判断，所产生的后续问题均由经销商承担！
</div>
<table id="tb" class="easyui-datagrid" title="登录项目列表"
    data-options="iconCls: 'icon-query',showHeader:false,singleSelect:true"
    style="width: 900px; height: auto;">
    <thead>
    </thead>
    <tbody>
    </tbody>
</table>

