@model Logistics.Models.UserModel
@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table style="width: 98%;" cellspacing="1" cellpadding="3" border="0">
    <tr>
        <th colspan="2" style="height: 25px; text-align:center;">修改密码</th>
    </tr>
    <tr>
        <td style="width: 12%; text-align: right">旧 密 码：
        </td>
        <td style="width: 88%">
            <input class="easyui-textbox" type="password" id="pwd" style="width: 30%; height: 25px;" size="25" maxlength="50">
        </td>
    </tr>
    <tr>
        <td style="width: 12%; text-align: right">新 密 码：
        </td>
        <td style="width: 88%">
            <input class="easyui-textbox" type="password" id="pwdnew" style="width: 30%; height: 25px;" size="25" maxlength="50">
        </td>
    </tr>
    <tr>
        <td style="width: 12%; text-align: right">再次确认：
        </td>
        <td style="width: 88%">
            <input class="easyui-textbox" type="password" id="pwdconfirm" style="width: 30%; height: 25px;" size="25" maxlength="50">
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <a href="#" onclick="changepassword()" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">修改</a>
        </td>
    </tr>
</table>

@*<table id="tt" class="easyui-datagrid" title="修改密码"
    data-options="iconCls: 'icon-change-password',showHeader:false,singleSelect:true"
    style="width: 400px; height: auto;">
    <thead>
        <tr>
            <th field="name1" width="30%"></th>
            <th field="name2" width="70%"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="12%" align="center">旧 密 码：</td>
            <td width="88%"><input class="easyui-validatebox" type="password" id="pwd" style="width:80%;height:23px"></td>
        </tr>
        <tr>
            <td width="12%" align="center">新 密 码：</td>
            <td width="88%"><input class="easyui-validatebox" type="password" id="pwdnew" style="width:80%;height:23px"></td>
        </tr>
        <tr>
            <td width="12%" align="center">再次确认：</td>
            <td width="88%"><input class="easyui-validatebox" type="password" id="pwdconfirm" style="width:80%;height:23px"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="#" onclick="changepassword()" class="easyui-linkbutton" iconcls="icon-ok" style="width: 72px; height: 32px">修改</a>
            </td>
        </tr>
    </tbody>
</table>*@

@*<div class="easyui-panel" iconCls="icon-change-password" title="修改密码" style="width:450px;padding:30px 60px">
		<div style="margin-bottom:20px;">
			旧 密 码:<input class="easyui-validatebox" type="password" id="pwd" style="width:80%;height:23px">
		</div>
		<div style="margin-bottom:20px">
			新 密 码:<input class="easyui-validatebox" type="password" id="pwdnew" style="width:80%;height:23px">
		</div>
		<div style="margin-bottom:20px">
			确认密码:<input class="easyui-validatebox" type="password" id="pwdconfirm" style="width:80%;height:23px">
		</div>
		<div style="text-align:center">
			<a href="#" onclick="changepassword()" class="easyui-linkbutton" iconCls="icon-ok" style="width:72px;height:32px;">修改</a>
		</div>
	</div>*@